<?xml version="1.0"?>
<config>
    <modules>
        <Yli_Coupon>
            <version>0.1.0</version>
        </Yli_Coupon>
    </modules>
    <adminhtml>
        <layout>
           <updates>
               <coupon>
                  <file>coupon.xml</file>
               </coupon>
           </updates>
        </layout>
    </adminhtml> 
    <frontend>
    	<routers>
	      <coupon>
	        <use>standard</use>
	        <args>
	          <module>Yli_Coupon</module>
	          <frontName>coupon</frontName>
	        </args>
	      </coupon>
	    </routers>
	    <layout>
	      <updates>
	        <coupon>
	          <file>coupon.xml</file>
	        </coupon>
	      </updates>
	    </layout>
    </frontend>
    <global>
        <blocks>
            <coupon>
                <class>Yli_Coupon_Block</class>
            </coupon>
        </blocks>
        <helpers>
            <coupon>
                <class>Yli_Coupon_Helper</class>
            </coupon>
        </helpers>
        <resources>
            <coupon_setup>
                <setup>
                    <module>Yli_Coupon</module>                    
                </setup>
            </coupon_setup>
        </resources>
    </global>
    <admin>
          <routers>
            <coupon>
              <use>admin</use>
              <args>
                <module>Yli_Coupon</module>
                <frontName>coupon</frontName>
              </args>
            </coupon>
          </routers>
    </admin>
</config>